*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  background-color: $body-bg;
  color: hsl(200, 15%, 8%);
  font-family: "Nunito Sans", sans-serif;
}

body.dark {
  background-color: $body-dark-bg;
  $header-dark: hsl(209, 23%, 22%);
}
